<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280725445152-2tn3mq3d5tl3n97ls0tjaohh6fla8448.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280725445152-2tn3mq3d5tl3n97ls0tjaohh6fla8448</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>280725445152-2f3lna0kh32pjeugsvott7rfi84evn3k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCU4V5GjMvFP0Qe7Zq95T2zNG2K5txQY8</string>
	<key>GCM_SENDER_ID</key>
	<string>280725445152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masdis.cust</string>
	<key>PROJECT_ID</key>
	<string>masterdiskonapp-b45f1</string>
	<key>STORAGE_BUCKET</key>
	<string>masterdiskonapp-b45f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280725445152:ios:f9e7d3f359753fa805ba45</string>
	<key>DATABASE_URL</key>
	<string>https://masterdiskonapp-b45f1.firebaseio.com</string>
</dict>
</plist>